<!DOCTYPE html>
<html>

<head>



    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <!-- dev icons font -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="styles.css">

    <meta charset="utf-8">
    <title>Shouhei Yamauchi</title>
</head>

<body>
    <div id="front-page" class="vertical-horizontal-align-center">
        <div class="vertical-horizontal-align-center">
            <div class="box text-center">
                <!-- <div class="logo">
                    SY
                </div> -->

                <img src=<%= asset_path 'sy-face.png' %> alt="">
                <h1>&nbsp;&nbsp;Hi, I'm Shouhei.&nbsp;&nbsp;</h1>
                <h1>I am a</h1>
                <h2 class="quotes">full-stack web developer.</h2>
                <h2 class="quotes">Java software developer.</h2>
                <h2 class="quotes">C# software developer.</h2>
            </div>
        </div>
        <div class="page-footer animation-target text-center">
            <p>
                <a href="#about-me">Find out more about me<br><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></a></p>
            </span>
        </div>
    </div>

    <div id="about-me">
        <div class="container">
            <div class="top-bottom-margin">
              <div class="row">
                <div class="col-md-8 col-sm-7 col-xs-5">
                <h2 class="text-center">Chartered Accountant turned developer.</h2>
                <br><h4>Welcome and thank you for visiting my portfolio page!<br><br>
                My name is Shouhei Yamauchi and I was born in Australia to Japanese parents. I am a very enthusiastic and active individual with a passion in dance (breaking - commonly known as "breakdancing"), exercising, health, connecting with people, and last but not least....coding!<br><br>
                My enthusiasm for coding was a relatively recent discovery. Just like the other 95% of high school students, at the time of choosing my university degree, I was unsure of what I exactly wanted in terms of my career. As a result of this, I went on with selecting one of the most common/safe options being Bachelor of Commerce. After graduating, for 4 years I worked as an accountant even pursuing further studies to obtain my qualification as a Chartered Accountant.<br><br>
                After gradually coming to the realisation that I didn't feel any sense of fulfilment from my job as an accountant, I decided to go on a search for a career path that I will feel passionate about. Having being taught abucus from a young age by my mother who was a teacher, I always enjoyed mathmetics and problem solving. That's where a bunch of my friends who were already in IT field suggested I give programming a go. I tried out a few of the online courses and I instantly felt in love with the level of logical thinking and creativity involved in coding. I knew that this was exactly what I was after and decided to leave my accounting profession to take an intensive coding bootcamp at Coder Factory Academy where I am currently studying. I am enjoying every single moment of the course and haven't looked back since.<br><br>
                I plan to utilise the communication skills and knowledge of how a diverse range of business operate I gained from frequent face to face meetings I have had with business owners and working on their financials during my accountant days to complement my newly acquired skills as a software developer.</h4>
                </div>
                <div class="col-md-4 col-sm-5 col-xs-7">
                </div>
              </div>
            </div>
        </div>
    </div>

    <div id="education-experience-skills">
        <div class="container">
            <div class="top-bottom-margin">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 text-center">
                              <div class="frame">
                                <h3><img src="<%= asset_path 'education.svg' %>" height="50px" alt=""><br><br>Education</h3> 2007 - 2010
                                <br><strong>University of New South Wales</strong>
                                <br>Bachelor of Commerce (Accounting Major)
                                <br>
                                <br>2013 - 2015
                                <br><strong>Chartered Accountants Australia and New Zealand</strong>
                                <br>Graduate Diploma of Chartered Accountant
                                <br>
                                <br>2017
                                <br><strong>Coder Factory Academy / Academy of Information Technology</strong>
                                <br>Diploma of Software Development
                              </div>
                            </div>
                            <div class="col-md-4 text-center">
                              <div class="frame">
                                <h3><img src="<%= asset_path 'experience.svg' %>" height="50px" alt=""><br><br>Experience</h3> 2011 - 2012
                                <br><strong>TaLK Program (South Korean Government)</strong>
                                <br><span class="">English Language Instructor</span>
                                <br>
                                <br> 2012 - 2017
                                <br><strong>Moore Stephens NSW (formerly Byrons)</strong>
                                <br><span class="">Chartered Accoutant</span>
                              </div>
                            </div>
                            <div class="col-md-4 text-center">
                              <div class="frame">
                                <h3><img src="<%= asset_path 'skills.svg' %>" height="50px" alt=""><br><br>Skills</h3>
                                <div class="row">
                                  <div class="col-md-1">
                                  </div>
                                  <div class="col-md-10">
                                    <h1><i class="devicon-html5-plain-wordmark"></i>
                                    <i class="devicon-css3-plain-wordmark"></i>
                                    <i class="devicon-bootstrap-plain-wordmark"></i>
                                    <i class="devicon-sass-original"></i>
                                    <i class="devicon-ruby-plain-wordmark"></i>
                                    <i class="devicon-csharp-plain"></i>
                                    <i class="devicon-java-plain-wordmark"></i>
                                    <i class="devicon-rails-plain-wordmark"></i></h1>
                                  </div>
                                  <div class="col-md-1">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="middle-strip">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="text-center">
                        <h1>
                        Projects</h1>
                      </div>
                    </div>
                  </div>


                </div>
            </div>

<div id="projects">
  <div class="container">
    <div class="top-bottom-margin">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">

          <a href="https://github.com/shouheiyamauchi/atm-terminal-app" target="_blank"><img src="<%= asset_path 'atm-terminal-app.gif' %>" alt=""></a>&nbsp;&nbsp;
          <a href="https://github.com/Firmanc/CFA-Thug-Lyfe" target="_blank"><img src="<%= asset_path 'thug-lyfe.png' %>" alt=""></a>&nbsp;&nbsp;
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact-me">


<div class="container">
  <div class="top-bottom-margin">


	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Contact me</h2><br>
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="name">Name</label>
              <div class="col-md-10">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-2 control-label" for="email">E-mail</label>
              <div class="col-md-10">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-2 control-label" for="message">Message</label>
              <div class="col-md-10">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
  <div class="row">
    <div class="col-md-12 text-center">
      <hr>
      <a href="https://www.linkedin.com/in/shouhei-yamauchi/" target="_blank"><img src=<%= asset_path 'linkedin.svg' %> height="35px" alt="" onmouseover="this.src='<%= asset_path 'linkedin-hover.svg' %>'" onmouseout="this.src='<%= asset_path 'linkedin.svg' %>'"></a>&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/shouheiyamauchi" target="_blank"><img src=<%= asset_path 'github.svg' %> height="35px" alt="" onmouseover="this.src='<%= asset_path 'github-hover.svg' %>'" onmouseout="this.src='<%= asset_path 'github.svg' %>'"></a>&nbsp;&nbsp;&nbsp;
      <a href="https://bitbucket.org/shouheiyamauchi/" target="_blank"><img src=<%= asset_path 'bitbucket.svg' %> height="35px" alt="" onmouseover="this.src='<%= asset_path 'bitbucket-hover.svg' %>'" onmouseout="this.src='<%= asset_path 'bitbucket.svg' %>'"></a>
      <br><br><span class="grey">&copy; 2017 Shouhei Yamauchi</span>
    </div>
  </div>
</div>
</div>
</div>

            <!-- quotes fade-in/out javascript -->
            <script type="text/javascript">
                (function() {

                    var quotes = $(".quotes");
                    console.log(quotes);
                    var quoteIndex = -1;

                    function showNextQuote() {
                        console.log("in func");
                        ++quoteIndex;
                        quotes.eq(quoteIndex % quotes.length)
                            .fadeIn(2000)
                            .delay(2000)
                            .fadeOut(2000, showNextQuote);
                    }

                    showNextQuote();

                })();
            </script>

            <script type="text/javascript">
            $('a[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 800);
                return false;
              }
            }
            });
            </script>
</body>

</html>
